<html>
    <body>
        Hello {{ config }} 

        <form method="POST">
        <div>
            <input name="enabled" type="checkbox" {% if config.enabled %} checked {% endif %}><label>Profiling enabled</label>
        </div>            
        <div>
            <label>Profile prefix</label><input name="name" type="text" value="{{config.name}}">
        </div>
        <div>
            <label>Profile url pattern</label><input name="url_pattern" type="text" value="{{config.url_pattern}}">
        </div>
        <div>
            <input type="submit">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </body>
</html>